{% extends "_layouts/form.njk" %}

{% set type = "Flu" if session.programmePreset == "SeasonalFlu" else "MMR" %}
{% set title = __("consent.alternative." + type + ".title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: {
      text: __("consent.alternative." + session.programmePreset + ".hint")
    },
    items: [{
      text: __("consent.alternative." + session.programmePreset + ".yes"),
      value: true
    }, {
      text: __("consent.alternative." + session.programmePreset + ".no"),
      value: false
    }],
    decorate: "consent.alternative"
  }) }}
{% endblock %}
