{% extends "_layouts/default.njk" %}

{% set paths = { back: false } %}
{% set title = __("consent.confirmation.title." + consent.decision, {
  session: session
}) %}
{% set text = __("consent.confirmation.text." + consent.decision, {
  consent: consent,
  session: session
}) %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        titleText: title,
        text: text | safe if not consent.hasAnswersNeedingTriage
      }) }}

      {{ __("consent.confirmation.triage." + consent.decision, {
        consent: consent,
        session: session
      }) | nhsukMarkdown if consent.hasAnswersNeedingTriage }}

      {{ __("consent.confirmation.description", {
        consent: consent
      }) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
