{% extends "_layouts/default.njk" %}

{% set title = __("reply.show.title", reply.fullName) %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("session.list.title"),
      href: "/sessions"
    }, {
      text: reply.session.location.name,
      href: "/sessions/" + reply.session.id
    }, {
      text: __("session.consent.label"),
      href: "/sessions/" + reply.session.id + "/consent"
    }, {
      text: reply.patient.fullName,
      href: "/programmes/" + reply.programme.id + "/patients/" + reply.patient.nhsn + "?activity=consent"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      title: title
    }) }}

    {{ appActionList({
      items: [
        {
          text: __("reply.withdraw.label"),
          href: reply.uri + "/edit/withdraw"
        } if not reply.invalid and reply.given,
        {
          text: __("reply.follow-up.label"),
          href: reply.uri + "/edit/follow-up"
        } if not reply.invalid and not reply.confirmed and not reply.given,
        {
          text: __("reply.invalidate.label"),
          href: reply.uri + "/edit/invalidate"
        } if not reply.invalid
      ]
    }) }}

    {{ card({
      heading: __("reply.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply, {
          programme: {},
          createdAt: {},
          method: {},
          decisionStatus: {},
          vaccineMethod: {},
          refusalReason: {},
          refusalReasonDetails: {},
          note: {
            href: reply.uri + "/edit/note"
          }
        })
      })
    }) }}

    {{ card({
      heading: __("parent.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply.parent, {
          fullName: {
            href: reply.uri + "/edit/parent"
          },
          relationship: {
            href: reply.uri + "/edit/parent"
          },
          hasParentalResponsibility: {},
          email: {
            href: reply.uri + "/edit/parent"
          },
          tel: {
            href: reply.uri + "/edit/parent"
          },
          sms: {},
          contactPreference: {}
        })
      })
    }) if reply.parent }}

    {{ card({
      heading: __("child.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(reply.child, {
          fullName: {},
          preferredFirstName: {},
          preferredLastName: {},
          dob: {},
          address: {},
          gpSurgery: {},
          school: {}
        })
      })
    }) if reply.child }}

    {{ card({
      heading: __("reply.healthAnswers.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        classes: "app-summary-list--full-width",
        rows: healthAnswerRows(reply.healthAnswers)
      })
    }) if reply.healthAnswers }}
  </div>
{% endblock %}
