{%- from "_macros/status.njk" import appStatus -%}
{% macro appParentSms(parent, showStatus) -%}
  <p class="nhsuk-body nhsuk-u-margin-0">{{ parent.tel }}</p>
  {{ appStatus({
    classes: "app-status--small nhsuk-u-margin-top-1",
    text: parent.smsStatus,
    icon: "warning",
    colour: "dark-orange"
  }) if showStatus and parent.smsStatus and parent.smsStatus != "Delivered" }}
{% endmacro %}
