{%- from "_macros/status.njk" import appStatus -%}
{% macro appParentEmail(parent, showStatus) -%}
  <p class="nhsuk-body nhsuk-u-margin-0">{{ parent.email }}</p>
  {{ appStatus({
    classes: "app-status--small nhsuk-u-margin-top-1",
    text: parent.emailStatus,
    icon: "warning",
    colour: "dark-orange"
  }) if showStatus and parent.emailStatus and parent.emailStatus != "Delivered" }}
{% endmacro %}
