{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/checkboxes/macro.njk" import checkboxes with context %}
{%- from "x-nhsuk/decorated/date-input/macro.njk" import dateInput with context %}
{%- from "x-nhsuk/decorated/radios/macro.njk" import radios with context %}
{%- from "nhsuk/components/button/macro.njk" import button with context -%}
{%- from "nhsuk/components/card/macro.njk" import card with context -%}
{%- from "nhsuk/components/details/macro.njk" import details with context -%}
{%- from "_macros/button-group.njk" import appButtonGroup with context -%}
{%- from "_macros/search-input.njk" import appSearchInput with context -%}

{% macro appPatientSearch(params) %}
  {% set filterButtonGroup %}
    {{ appButtonGroup({
      buttons: [{
        classes: "nhsuk-button--secondary app-button--small",
        text: __("search.confirm"),
        attributes: {
          formaction: params.formaction,
          formmethod: "post",
          role: "search"
        }
      }, {
        classes: "nhsuk-button--secondary app-button--small",
        text: __("search.clear"),
        href: params.clear or "/patients"
      } if data.q or data.programme or data.yearGroup or data.dob or data.status or data.hasMissingNhsNumber]
    }) }}
  {% endset %}

  {% set searchCardHtml %}
    {{ appSearchInput({
      label: { text: __("search.label") },
      attributes: {
        formaction: params.formaction,
        formmethod: "post"
      },
      decorate: "q"
    }) }}

    {{ checkboxes({
      classes: "nhsuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("programme.label")
        }
      },
      id: "programme_ids",
      name: "programme_ids",
      items: programmeItems
    }) if programmeItems }}

    {{ checkboxes({
      classes: "nhsuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("patient.search.showOnly")
        }
      },
      items: [{
        text: __("session.eligible.label"),
        hint: { text: __("session.eligible.hint") },
        checked: true
      }],
      decorate: "options"
    }) if view == "report" }}

    {% for name, enums in params.checkboxFilters %}
      {{ checkboxes({
        classes: "nhsuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patientSession." + name + ".label")
          }
        },
        items: checkboxFilterItems(enums, data[name]),
        decorate: name
      }) if enums }}
    {% endfor %}

    {% for name, enums in params.radioFilters %}
      {{ radios({
        classes: "nhsuk-radios--small",
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patientSession." + name + ".label")
          }
        },
        items: radioFilterItems(enums, data[name]),
        decorate: name
      }) if enums }}
    {% endfor %}

    {{ checkboxes({
      classes: "nhsuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("patient.yearGroup.label")
        }
      },
      id: "year-group",
      name: "yearGroup",
      items: yearGroupItems
    }) if yearGroupItems }}

    {% set searchDetailsHtml %}
      {{ dateInput({
        fieldset: {
          legend: {
            classes: "nhsuk-label--s",
            text: __("patient.dob.label")
          }
        },
        decorate: "dob"
      }) }}

      {{ checkboxes({
        classes: "nhsuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patient.search.showOnly")
          }
        },
        items: [
          {
            value: "archived",
            text: __("patient.search.archived")
          },
          {
            value: "hasMissingNhsNumber",
            html: __("patient.search.hasMissingNhsNumber")
          },
          {
            value: "post16",
            text: __("patient.search.post16")
          }
        ],
        decorate: "options"
      }) }}

      {{ filterButtonGroup | safe if not (programmeItems or statusItems) }}
    {% endset %}

    {{ details({
      summaryText: __("search.advanced"),
      open: true if data.options,
      html: searchDetailsHtml
    }) }}

    {{ filterButtonGroup | safe if programmeItems or statusItems }}
  {% endset %}

  {{ card({
    classes: "app-filters",
    feature: true,
    heading: __("patient.search.label") ,
    headingLevel: 3,
    descriptionHtml: searchCardHtml
  }) }}
{% endmacro %}
