@use "../vendor/nhsuk-frontend" as *;
@use "../core" as app;

.app-vaccine-method {
  align-items: center;
  column-gap: nhsuk-spacing(2);
  display: inline-flex;

  &::before {
    content: "";
    height: 1em;
    width: 1em;
  }

  &[data-method="Gelatine-free injection"]::before,
  &[data-method="Injection"]::before {
    rotate: 45deg;
    scale: 0.75;
    transform-origin: center;
  }

  &[data-method="Gelatine-free injection"]::before {
    background-color: currentcolor;
  }

  &[data-method="Injection"]::before {
    border: 0.25em solid currentcolor;
  }

  &[data-method="Nasal spray"]::before {
    border: 0.25em solid currentcolor;
    border-radius: 100%;
  }
}
