{% extends "_layouts/default.njk" %}

{% set isDataConsumer = account.role == UserRole.DataConsumer %}
{% set paths = { back: "/home" } if isDataConsumer %}
{% set title = programme.name + " (" + programme.year + ")" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }],
    text: __("programme.list.title"),
    href: "/reports"
  }) if account.role != UserRole.DataConsumer }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    summary: programme.year,
    title: programme.name
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: ProgrammeOutcome.Consent,
        headingLevel: 3,
        data: programme.report(ProgrammeOutcome.Consent).length
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: ProgrammeOutcome.Due,
        headingLevel: 3,
        data: programme.report(ProgrammeOutcome.Due).length
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: ProgrammeOutcome.Vaccinated,
        headingLevel: 3,
        data: programme.report(ProgrammeOutcome.Vaccinated).length
      }) }}
    </div>
  </div>

  {{ actionLink({
    text: __("download.new.label"),
    href: programme.uri + "/download/new"
  }) if programme.vaccinations.length }}

{% if programme.sessions.length %}
  {{ appHeading({
    level: 3,
    size: "m",
    title: __("programme.show.responses")
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: "Consent requests sent",
        headingLevel: 4,
        data: 1671,
        meta: "including reminders"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: "Consent given",
        headingLevel: 4,
        data: "78%",
        meta: "versus refused or no response"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ appDataCard({
        heading: "Responses received and triaged",
        headingLevel: 4,
        data: "98%"
      }) }}
    </div>
  </div>

  {{ table({
    heading: "Reasons for refusal",
    panel: true,
    head: [
      { text: __("reply.refusalReason.label") },
      { text: "Frequency", format: "numeric" }
    ],
    rows: [
      [
        { text: ReplyRefusal.Gelatine },
        { text: "11.1%", format: "numeric" }
      ] if programme.type == ProgrammeType.Flu,
      [
        { text: ReplyRefusal.AlreadyGiven },
        { text: "2.0%", format: "numeric" }
      ],
      [
        { text: ReplyRefusal.GettingElsewhere },
        { text: "3.6%", format: "numeric" }
      ],
      [
        { text: ReplyRefusal.Medical },
        { text: "1.0%", format: "numeric" }
      ],
      [
        { text: ReplyRefusal.Personal },
        { text: "5.1%", format: "numeric" }
      ],
      [
        { text: ReplyRefusal.Other },
        { text: "1.1%", format: "numeric" }
      ]
    ]
  }) }}

  {% set questionRows = [] %}
  {% for key, healthQuestion in programme.vaccines[0].flatHealthQuestions %}
    {% set questionRows = questionRows | push([
      {
        text: __("healthQuestions." + key + ".label")
      },
      {
        text: ["0.21","0.57","3.45","1.89"] | random + "%",
        format: "numeric"
      }
    ]) %}
  {% endfor %}
  {{ table({
    heading: "Consent journey",
    panel: true,
    head: [
      { text: "Question" },
      { html: "Dropout", format: "numeric" }
    ],
    rows: questionRows
  }) }}
{% endif %}
{% endblock %}
