{% extends "_layouts/form.njk" %}

{% if reply.selfConsent %}
  {% set title = __("reply.decision.title.Child", { programme: programme }) %}
{% else %}
  {% set title = __("reply.decision.title.Parent", { programme: programme, patient: patient }) %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: [
      {
        text: __('reply.decision.nasal.label') if programme.alternativeVaccine else __('reply.decision.yes.label'),
        value: ReplyDecision.Given,
        conditional: {
          html: radios({
            fieldset: {
              legend: {
                text: __("reply.alternative.title")
              }
            },
            hint: { text: __("reply.alternative.hint") },
            items: booleanItems,
            decorate: "reply.alternative"
          })
        } if programme.alternativeVaccine
      },
      {
        text: __('reply.decision.injection.label'),
        value: ReplyDecision.OnlyAlternative
      } if programme.alternativeVaccine,
      {
        text: __('reply.decision.no.label'),
        value: ReplyDecision.Refused
      },
      {
        divider: "or"
      },
      {
        text: __('reply.decision.noResponse.label'),
        value: ReplyDecision.NoResponse
      }
    ],
    decorate: "reply.decision"
  }) }}

  {{ input({
    type: "hidden",
    value: programme.id,
    decorate: "reply.programme_id"
  }) if not isMultiProgrammeSession }}
{% endblock %}
