{% extends "_layouts/form.njk" %}

{% set title = __("triage.label", { patient: patient }) %}

{% block form %}
  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {% set psdRadiosHtml = radios({
    classes: "nhsuk-radios--inline",
    fieldset: { legend: { text: __("triage.psd.label") } },
    items: booleanItems,
    decorate: "triage.psd"
  }) if account.canPrescribe %}

  {% set outcomeItems = injectConditionalHtml(triageOutcomeItems(screenOutcomesForConsentMethod), ScreenOutcome.VaccinateNasal, psdRadiosHtml) if patientSession.programme.alternativeVaccine and reply.decision != ReplyDecision.OnlyAlternative and account.canPrescribe else triageOutcomeItems(screenOutcomesForConsentMethod) %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("triage.outcome.label")
      }
    },
    hint: {
      text: screenVaccineMethod
    } if screenVaccineMethod,
    items: outcomeItems,
    decorate: "triage.outcome"
  }) }}

  {{ textarea({
    label: {
      classes: "nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6",
      text: __("triage.note.label") + " (optional)"
    },
    rows: 5,
    decorate: "triage.note"
  }) }}
{% endblock %}
